html {
	height: 100%;
}

body {
	background-color: #ffffff;
	background-image: url('../images/bg.png');
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#main {
	background-color: #f1f7f7;
	width: 90%;
	margin: auto;
	font-size: 14px;
}

#title {
	margin: 10px 0px 0px 10px;
}

#global-header {
	display: block;
	border-bottom: 1px solid #000000;
}

#search {
	display: block;
	text-align: right;
	margin-right: 10px;
}

#content {
	display: block;
	padding: 10px;
}

#global-footer {
	display: block;
	text-align: center;
	padding: 5px 0px 5px 0px;
	border-top: 1px solid #000000;
}

/* index.html */
#category_url {
	text-align: right;
	margin-right: 20px;
}

.entry_item {
	display: block;
	border: 1px inset #000000;
	margin: 5px 5px 5px 5px;
}

#entry_list header {
	display: block;
	margin: 0 5px 0 5px;
	font-size: 15px;
}

#entry_list p {
	display: block;
	margin: 0 10px 0 10px;
	font-size: 14px;
}

#entry_list footer {
	display: block;
	margin-right: 10px;
	text-align: right;
	font-size: 12px;
}

#pager {
	width: 100%;
	font-size: 13px;
}

#pager #next {
	width: 10%;
	text-align: left;
}

#pager #center {
	text-align: center;
	width: 80%;
}

#arrow_up {
	width: 30px;
	height: 30px;
}

#arrow_down {
	width: 30px;
	height: 30px;
}

#pager #pre {
	width: 10%;
	text-align: right;
}

/* diary.html */
.entry {
	display: block;
}

#entry header {
	margin-left: 5px;
}

#entry header .user {
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
}

#entry header .title {
	border-left: 5px solid #f0b222;
	font-size: 18px;
}

#entry header .category {
	font-size: 15px;
}

.entry_body {
	margin: 10px 0px 30px 10px;
	
}

#entry footer {
	display: block;
	margin-right: 10px;
	text-align: right;
	font-size: 12px;
}

#comments {
}

#comments .comment {
	display: block;
	border: 1px inset #000000;
	margin-bottom: 5px;
}

#comments .comment button {
	margin-left: 5px;
}

#comments header {
	display: block;
	border: none;
	font-size: 16px;
	margin-left: 5px;
}

#comments header .time {
	margin-right: 10px;
	font-size: 12px;
}

#comments p {
	margin-left: 10px;
}

#comments footer {
	display: block;
	margin-right: 10px;
	text-align: right;
}

#comments form {
	display: block;
	margin-top: 10px;
}

#comments #content {
	display: block;
	width: 100%;
	font-size: 14px;
	rows: 3;
}

/* diary.add.html diary.edit.html */
input#title {
	display: block;
	margin: 5px 0px 0px 10px;
	width: 500px;
}

input#category {
	display: block;
	margin: 5px 0px 0px 10px;
	width: 500px;
}

textarea#body {
	display: block;
	margin: auto;
	width: 90%;
	height: 300px;
}

.submit_button {
	display: block;
	text-align: right;
	margin-right: 30px;
}


/* diary.delete.html */
p.del_title, p.del_category, p.del_body {
	display: block;
	margin-left: 10px;
}

p.del_item {
	display: block;
	text-decoration: underline;
}

/* diary.search.html */
#search_results {
}

section.entry {
	display: block;
	margin: 5px 0 15px 10px;
}

#search_results section.entry header {
	display: block;
	font-size: 16px;
}

#search_results section.entry span.entry_attr {
	font-size: 13px;
}

#search_results section.entry p.body {
	margin-left: 20px;
}

/* category.html */
#category header {
	display: block;
	margin: 5px 0 10px 5px;
	font-size: 18px;
}

#category .entry {
	margin: 10px 0 0 10px;
}

#category footer {
	display: block;
	margin-right: 10px;
	text-align: right;
	font-size: 12px;
}

/* category.all.html */
div.category {
	border: 1px inset #000000;
	margin: 5px 5px 5px 5px;
}

#category_list .category .feed {
	margin-left: 15px;
	font-size: 13px;
}

div.category header {
	display: block;
	margin: 5px 0 0 5px;
	font-size: 18px;
}

div.category .entries {
	display: block;
	margin-left: 15px;
}

div.category footer {
	display: block;
	margin-right: 10px;
	text-align: right;
	font-size: 12px;
}

/* index.mypage.html */
#mypage #entry_info {
	margin: auto;
	padding-left: 10px;
	width: 90%;
	font-size: 16px;
}

#mypage #entry_list {
	margin: auto;
	padding: 0 10px 0 10px;
	border: 1px inset #000000;
	width: 90%;
	font-size: 16px;
}

#mypage #entry_list .entry_item {
	display: block;
	border: none;
	margin-left: 15px;
	font-size: 14px;
}

#mypage #entry_list .entry_title {
	width: 50%;
}

#timer {
	width: 75px;
}

#time {
	height: 20px;
	text-align: center;
	border: 1px solid #000000;
}

.timerbutton {
	position: relative;
	top: -10px;
	width: 25px;
	height: 25px;
}