[% WRAPPER "_wrapper.tt", title = "Intern::Diary::Category" %]

<div id="category_list">
 [% FOR category IN categories %]
 <div class="category">
  <header>
   [<a href="category?id=[% category.id | uri %]">[% category.name | html %]</a>]
   <span class="feed">
    <a href="/category.feed_rss?id=[% category.id | uri %]">RSS</a>
    <a href="/category.feed_atom?id=[% category.id | uri %]">Atom</a>
   </span>
  </header>
  <div class="entries">
   [% FOR entry IN entries.item("$category.id") %]
    <p>
     <a href="diary?id=[% entry.id | uri %]">[% entry.title | html %]</a>,
     id:[% entry_users.item("$entry.user_id").name | html %]
	</p>
   [% END %]
  </div>
  <footer>
   [% category.created_on | html %]
  </footer>
 </div>
 [% END %]
 <table id="pager">
  <tr>
   <td id="next">
    [% IF page != 1 %]
     <a href="/category.all?page=[% page - 1 | uri %]">前</a>
    [% END %]
   </td>
   <td id="center"></td>
   <td id="pre">
    [% IF has_next == 1 %]
     <a href="/category.all?page=[% page + 1 | uri %]">次</a>
    [% END %]
   </td>
  </tr>
 </table>
</div>

[% END %]
