[% WRAPPER "_wrapper.tt", title = "Intern::Diary::Category" %]

<div id="category_list">
 [% FOR category IN categories %]
 <div class="category">
  <header>
   [<a href="category?id=[% category.id %]">[% category.name | html %]</a>]
  </header>
  <div class="entries">
   [% FOR entry IN entries.item("$category.id") %]
    <p>
     <a href="diary?id=[% entry.id %]">[% entry.title | html %]</a>,
     id:[% entry_users.item("$entry.user_id").name %]
	</p>
   [% END %]
  </div>
  <footer>
   [% category.created_on | html %]
  </footer>
 </div>
 [% END %]
</div>

[% END %]
