[% WRAPPER "_wrapper.tt", title = "Intern::Diary::Category" %]

<div id="category">
 <header>
  [% category.name | html %]
 </header>
 <footer>
  [% category.created_on | html %]
 </footer>
 <div>
 エントリ：
 [% FOR entry IN entries %]
  <p class="entry">
   <a href="diary?id=[% entry.id | uri %]">[% entry.title | html %]</a>,
   id:[% entry_users.item("$entry.user_id").name %]
   ([% entry.created_on | html %])
  </p>
 [% END %]
 </div>
 <table id="pager">
   <tr>
    <td id="next">
     [% IF page != 1 %]
      <a href="/category?id=[% category.id | uri %]&page=[% page - 1 %]">前</a>
     [% END %]
    </td>
    <td id="center"></td>
    <td id="pre">
     [% IF has_next == 1 %]
      <a href="/category?id=[% category.id | uri %]&page=[% page + 1 %]">次</a>
     [% END %]
    </td>
   </tr>
  </table>
</div>

[% END %]