[% WRAPPER "_wrapper.tt", title = "Intern::Diary::Search" %]

<div id="search_results">
[% IF entries.size %]
 <div>
  [% FOR entry IN entries %]
   <section class="entry">
    <header>
     <a href="/diary?id=[% entry.id %]">[% entry.title | html %]</a>
	 <span class="entry_attr">
	 [
     [% FOR category IN categories.item("$entry.id") %]
      <a href="/category?id=[% category.id %]">[% category.name | html %]</a>
     [% END %]
	 ]
	 ([% entry.created_on | html %])
	 </span>
	</header>
	<p class="body">[% entry.body | html %]</p>
   </section>
  [% END %]
 </div>
[% ELSE %]
 <p>No Entry</p>
[% END %]
</div>

[% END %]