[% WRAPPER "_wrapper.tt", title = "Intern::Diary::Search" %]

<div id="search_results">
[% IF query %]
検索語：[% query | html %]
[% ELSE  %]
検索語がありません。
[% END %]

[% IF entries.size %]
 <div>
  [% FOR entry IN entries %]
   <section class="entry">
    <header>
     <a href="/diary?id=[% entry.id | uri | html %]">[% entry.title | html %]</a>
	 <span class="entry_attr">
	 [
	 [% FOR category IN entry.categories %]
      <a href="/category?id=[% category.id | uri | html %]">[% category.name | html %]</a>
     [% END %]
	 ]
     id:[% entry.user.name | html %]
	 ([% entry.created_on | html %])
	 </span>
	</header>
	<p class="body">[% entry.body | html %]</p>
   </section>
  [% END %]
  <table id="pager">
   <tr>
    <td id="next">
     [% IF page != 1 %]
      <a href="/diary.search?query=[% query | uri | html %]&page=[% page - 1 %]">前</a>
     [% END %]
    </td>
    <td id="center"></td>
    <td id="pre">
     [% IF has_next == 1 %]
      <a href="/diary.search?query=[% query | uri | html %]&page=[% page + 1 %]">次</a>
     [% END %]
    </td>
   </tr>
  </table>
 </div>
[% ELSE %]
 <p>No Entry</p>
[% END %]
</div>

[% END %]