[% WRAPPER "_wrapper.tt", title = "Intern::Diary" %]

<div id="entry">
 <header>
  <span class="user">id:[% entry_user.name | html %]の日記</span>
  <span class="title">[% entry.title | html %]</span>
  <span class="category">
  [
  [% FOR category IN categories %]
   <a href="/category?id=[% category.id | uri %]">[% category.name | html %]</a>
  [% END %]
  ]
  </span>
 </header>
 <div class="entry_body">
  [% entry.body | html %]
 </div>
 <footer>
  [% entry.created_on | html %] ([% entry.updated_on | html %])
 </footer>

 <div id="comments">
 コメント
 [% FOR comment IN comments %]
  <section class="comment">
   <header>
    [% comment_users.item("$comment.user_id").name | html %]
	<span class="time">([% comment.created_on | html %])</span>
   </header>
   <p>
    [% comment.content | html %]
   </p>
   <footer>
    [% IF r.user.id == comment.user_id %]
	 <form action="/comment.delete" method="POST">
	  <input type="hidden" name="entry_id" value="[% entry.id %]">
	  <input type="hidden" name="cid" value="[% comment.id %]">
      <input type="submit" value="削除">
	 </form>
    [% END %]
   </footer>
  </section>
 [% END %]

 <form action="/comment.add" method="post">
  <textarea name="content" id="content"></textarea>
  <input type="submit" value="投稿"/>
  <input type="hidden" name="entry_id" value="[% entry.id %]"/>
 </form>
</div>

[% END %]