[% WRAPPER "_wrapper.tt", title = "Intern::Diary" %]

[% IF entries.size %]
 <div id="entry_list">
  [% FOR entry IN entries %]
   <section class="entry_item">
    <header><a href="/diary?id=[% entry.id | html %]">[% entry.title | html %]</a>
	[
    [% FOR category IN categories.item("$entry.id") %]
      <a href="category?id=[% category.id | html %]">[% category.name | html %]</a>
    [% END %]
	]
	</header>
	<p>[% entry.body | html %]</p>
	<footer>
	 [% entry.created_on | html %]
	</footer>
   </section>
  [% END %]
 </div>
[% ELSE %]
  <p>No entry</p> 
[% END %]

[% END %]