[% WRAPPER "_wrapper.tt", title = "Intern::Diary" %]

<div id="category_url">
 <a href="/category.all">カテゴリ一覧</a>
</div>
[% IF entries.size %]
 <div id="entry_list">
  [% FOR entry IN entries %]
   <section class="entry_item">
    <header><a href="/diary?id=[% entry.id | uri | html %]">[% entry.title | html %]</a>
	[
    [% FOR category IN entry.categories %]
      <a href="category?id=[% category.id | uri | html %]">[% category.name | html %]</a>
    [% END %]
	]
	</header>
	<p>[% entry.body | html %]</p>
	<footer>
	 [% entry.created_on | html %]
	</footer>
   </section>
  [% END %]
  <table id="pager">
   <tr>
    <td id="next">
     [% IF page != 1 %]
      <a href="/?page=[% page - 1 %]">次</a>
     [% END %]
    </td>
    <td id="center"></td>
    <td id="pre">
     [% IF has_pre == 1 %]
      <a href="/?page=[% page + 1 %]">前</a>
     [% END %]
    </td>
   </tr>
  </table>
 </div>
[% ELSE %]
 <div>
  <p>まだ日記がありません</p>
  <p><a href="/diary.add">日記を書く</a></p>
 </div>
[% END %]

[% END %]