[% WRAPPER "_wrapper.tt", title = "Mypage" %]

[% IF entries.size %]
 <div id="mypage">
  <div id="entry_info">
    <p><a href="/diary.add">日記を書く</a></p>
  </div>
  <div id="entry_list">
   エントリ一覧
   <table>
   [% FOR entry IN entries %]
    <tr>
     <section class="entry_item">
	  <td class="entry_title">
	   <a href="/diary?id=[% entry.id | html %]">[% entry.title | html %]</a>
	  </td>
	  <td>
	   ([% entry.created_on | html %])
	  </td>
	  <td>
       <button type="button" onClick="location.href='/diary.edit?id=[% entry.id %]'">編集</button>
	  </td>
	  <td>
	   <button type="button" onClick="location.href='/diary.delete?id=[% entry.id %]'">削除</button>
	  </td>
    </section>
    </tr>
   [% END %]
   </table>
  </div>
 </div>
[% ELSE %]
  <p>No entry</p> 
[% END %]


[% END %]