[% WRAPPER "_wrapper.tt", title = "Intern::Diary" %]

<div id="category_url">
 <a href="/category.all">カテゴリ一覧</a>
</div>
[% IF entries.size %]
 <div id="entry_list">
  [% FOR entry IN entries %]
   <section class="entry_item">
    <header><a href="/diary?id=[% entry.id | html %]">[% entry.title | html %]</a>
	[
    [% FOR category IN categories.item("$entry.id") %]
      <a href="category?id=[% category.id | html %]">[% category.name | html %]</a>
    [% END %]
	]
	</header>
	<p>[% entry.body | html %]</p>
	<footer>
	 [% entry.created_on | html %]
	</footer>
   </section>
  [% END %]
 </div>
[% ELSE %]
 <div>
  <p>まだ日記がありません</p>
  <p><a href="/diary.add">日記を書く</a></p>
 </div>
[% END %]

[% END %]