[% WRAPPER "_wrapper.tt", title = "Mypage" %]

[% IF entries.size %]
 <div id="mypage">
  <div id="entry_info">
    <p>日記数：[% entry_size | html %]</p>
    <p><a href="/diary.add">日記を書く</a></p>
  </div>
  <div id="entry_list">
   エントリ一覧
   <table>
   [% FOR entry IN entries %]
    <tr>
     <section class="entry_item">
	  <td class="entry_title">
	   <a href="/diary?id=[% entry.id | uri %]">[% entry.title | html %]</a>
	  </td>
	  <td>
	   ([% entry.created_on | html %])
	  </td>
	  <td>
       <button type="button" onClick="location.href='/diary.edit?id=[% entry.id | uri %]'">編集</button>
	  </td>
	  <td>
	   <button type="button" onClick="location.href='/diary.delete?id=[% entry.id | uri %]'">削除</button>
	  </td>
    </section>
    </tr>
    [% END %]
    <table id="pager">
     <hr>
     <tr>
      <td id="next">
       [% IF page != 1 %]
        <a href="/index.mypage?page=[% page - 1 | uri %]">次</a>
       [% END %]
      </td>
      <td id="center"></td>
      <td id="pre">
       [% IF has_pre == 1 %]
        <a href="/index.mypage?page=[% page + 1 | uri %]">前</a>
       [% END %]
      </td>
     </tr>
    </table>
   </table>
  </div>
 </div>
[% ELSE %]
  <p>No entry</p> 
[% END %]


[% END %]