
html {
	height: 100%;
}

body {
	/* background-color: #ffffff; */
	background-image: url('bg.png');
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#global-header {
	display: block;
	border-bottom: 1px solid #000000;
}

#content {
	display: block;
	padding: 10px;
}

#global-footer {
	display: block;
	text-align: center;
	border-top: 1px solid #000000;
}
